/*body {
	width: 100%;
	background-color: #11131d;
  	background-image:radial-gradient(ellipse farthest-corner at center top, #214661 0%, #090909 100%);
}*/
.btn {
	display: inline-block;
	margin: 0 10px;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
}
.icon-btn i{
	padding-right: 10px
}
.btn:hover {
	filter: brightness(1.2);
	transition: filter .3s ease;
}

#app {
	position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #11131d;
  background-image:radial-gradient(ellipse farthest-corner at center top, #214661 0%, #090909 100%);
}



.nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding: 15px;
	z-index: 100;
	overflow: hidden;
	box-shadow: 5px 5px 15px rgba(128,128,128,0.3);
	background: rgba(0,0,0,0.6);
}

/*.nav::before {
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	filter: blur(5px);
	background: url(assets/nav.png);
	background-size: cover;
	margin: -5px;
}*/

.nav .logo {
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 11px;
}
.nav .status-bar {
	display: flex;
	justify-content: flex-end;
	color: #fff;
}
.nav .status-bar span,
.nav .status-bar a {
	margin: 0 10px;
	padding: 0;
}
.nav .status-bar i{
	padding-right: 5px;
}


#allmap  {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.p {
	position: relative;
}
.p-company {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: yellow;
	border-radius: 50%;
}

.p-station {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: red;
	border-radius: 50%;
}

.p-person {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: white;
	border-radius: 50%;
}

.p-label {
	position: absolute;
	left: 100%;
	background: #fff;
	border:1px red solid;
	padding: 5px;
	display: none;
	z-index: 100;
}

.p:hover .p-label{
		display: block;
}

.bottom {
	position: fixed;
	width: 100%;
	bottom: 0;
	/*height: 80px;*/
	z-index: 100;
	/*overflow: hidden;*/
	box-shadow: 5px 5px 15px rgba(128,128,128,0.3);
	z-index: 200;
	background: rgba(0,0,0,0.7);
	padding: 15px;

}
/*.bottom::before {
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	filter: blur(5px);
	background: url(assets/nav.png);
	background-size: cover;
	margin: -5px;
}
*/
.bottom .btn-bar {
	position: relative;
	display: flex;
	justify-content: flex-end;
	padding-right: 30px;
	margin: 0;

}
.bottom .btn-bar .btn {
	width: 80px;
  font-size: 16px;
  /*border: 1px #00bcd4 solid;*/
  color: #fff;
  background: #37474f;
  position: relative;
}

.bottom #btn-refresh {
	color: #fff;
	background: #00bcd4;
}


.bottom .display-menu {
  position: absolute;
  right: 153px;
  bottom: 43px;
  z-index: 200;
  width: 100px;
  /* background: rgba(55,71,79,0.8); */
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  opacity: 0;
  transition: transform .3s ease-out, opacity .3s ease-out;
  transform: translateY(0);
  text-align: left;
}
.display-menu.active {
	opacity: 1;
	transform: translateY(-10%);
}

.bottom .display-menu::after {
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	bottom: -5px;
	left: calc(50% - 8px);
	transform: rotate(45deg);
	background: inherit;
}

.bottom .display-menu li {
	line-height: 50px;
	height: 50px;
	color: #000;
}


